@import url('https://fonts.googleapis.com/css?family=Poiret+One|Courgette|Oswald:400');

html,
body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    height: 100%;
    background-color: #f6f6f6;
    font-size: 1em;
    /* I use 1.414 (Augumental forth) ratio for font scale */
}



.sections {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
    padding: 0;
}


@font-face {
    font-family: Monolith;
    src: url(../fonts/monolith-regular.otf);
}






/* #################### HEADER ###################### */

header {
    width:100%;
    min-height: 100px;
    /*height: 130px;*/
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    z-index: 1;
}


/*  Main Menu */

.main-menu,
.social-links i {
    /* Aligning menu links and social icons on one line */
    line-height: 70px;
}

.header{
    padding: 0;
}

.header .row{
    margin-top: 3%;
    margin-left: 0;
    margin-right: 0;
}


.navbar{/* Overwriting bootstrap's styling */
    padding-top: 6%;
    position: relative;
}

/* Burger menu */

.navbar-light .navbar-toggler {
    padding-left: 17px;
    padding-top: 20px;
    font-size: 1.6rem;
    border: 1px solid;
    border-color: rgba(168,168,168, 0);
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../images/burger_icon.png);
    background-repeat: no-repeat;
    background-position: center;
}



/* END Burger menu */


.main-menu {
    /* Marging menu from left */
    /*margin-left: 2%;*/
    padding: 0;
   
   
    
}




.main-menu li {
    list-style: none;
    line-height: 50px;
    width:60%;
    /* display: inline; */
    /* margin-left: 25px; */
}

.main-menu li a {
    font-family: "Poiret One";
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.main-menu li a:hover {
    text-decoration: none;
    color: #00dddb;
}

/* END Main Menu */

/* Social Links */

.social-links {
    /* Aligning social links to right */
    text-align: center;
    padding-left: 31px;
    padding-right: 0;
}


/* .social-links a {
    text-decoration: none;
    font-size: 1.414em;
    color: rgba(0, 0, 0, .25);
    margin: 0px 5px;
    transition: color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out;
    -moz-transition: color 0.35s ease-in-out;
    -o-transition: color 0.35s ease-in-out;

} */



.social-links a i{
    font-size: 1.6em;
    color:#00dddb;
    opacity: 0.6;
    margin:0px 7px;
}


/* .social-links a:hover {
    color: rgba(0, 219, 221, 1);
}
*/
/* END Social Links */

/* #################### END HEADER ################## */

/* * */

/* #################### SLIDESHOW SECTION ########### */

/* Slider */

.slideshow {
    height: 100%;
    background: url("../images/food-lg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    animation: slideshow-w 20s infinite;
    -webkit-animation: slideshow-w 20s infinite;
    -moz-animation: slideshow-w 20s infinite;
    -o-animation: slideshow-w 20s infinite;
}



@keyframes slideshow-w {

    /* Animation slide transition number 1 */
    0% {
        transform: scale(1);
        background: url("../images/food-lg.jpg");
        background-attachment: fixed;

    }
    14.28% {
        transform: scale(1.1);
        background: url("../images/yoga-lg.jpg");
        background-attachment: fixed;

    }

    /* Animation slide transition number 2 */
    28.56% {
        transform: scale(1.1);
        background: url("../images/yoga-lg.jpg");
        background-attachment: fixed;
    }
    42.84% {
        transform: scale(1);
        background: url("../images/family-lg.jpg");
        background-attachment: fixed;
    }


    /* Animation slide transition number 3 */
    57.12% {
        transform: scale(1);
        background: url("../images/family-lg.jpg");
        background-attachment: fixed;
    }
    71.4% {
        transform: scale(1.1);
        background: url("../images/food-lg.jpg");
        background-attachment: fixed;
    }

    85.68% {
        transform: scale(1.1);
        background: url("../images/food-lg.jpg");
        background-attachment: fixed;
    }
    100% {
        transform: scale(1);
        background: url("../images/food-lg.jpg");
        background-attachment: fixed;
    }

}


/* END Slider */

/* Background slideshow's text */

.text-container {
    /* All text's container */
    width: 80%;
    height: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#logo {
    /* SVG file's fill in animation*/
    animation: fill-anime 2s ease forwards 3.6s;
}


#wh-container {
    /* Weight & Health - moving top's animation*/
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: wh-move-top 1s ease forwards 4s;
}



#free-consultation-text {
    /* Contulations's text positioning */
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#free-consultation-text h1 {
    /* Consulations's text animation */
    font-family: Monolith;
    font-size: 3em;
    opacity: 0;
    animation: consultation 2s ease forwards 4s;
    color: #00dddb;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


#diana {
    /* Positioning & moving bottom Diana's text */
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: diana-move-bottom 2s ease forwards 4s;
}

#diana h2 {
    /* Styling & fading out Diana's text */
    font-family: Oswald;
    font-size: 3.5em;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    animation: diana-opacity 2s ease forwards 4s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    ;

}


.btn-signUp,.btn-modal {/* Welcoming text's & modal sign up button's styling */
    
    
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    background-color: #d95304;
    border: 1px solid #d95304;
    color: #fff;
    

}

.btn-signUp{/* Welcoming text's sign up button's animation */
    position: absolute;
    bottom: 6%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: btn-signUp 1s ease forwards 4s;
}

/*ATANTION after click blue border is apearign which needs to be checked*/

.btn-signUp:hover,
.btn-signUp:active,
.btn-signUp:focus,
.btn-signUp:active:focus,
.btn-modal:hover,
.btn-modal:active,
.btn-modal:focus,
.btn-modal:active:focus {/* Welcoming text's & modal sign up button's hovering */
    /* Welcome text's sign up button hover */
    background-color: #a83e00;
    border: 1px solid #a83e00;
    color: #dadada;
}



/* Weight & Health text's strokes animation */

#logo path:nth-child(1) {
    /* Letter W animation */
    stroke-dasharray: 630.78px;
    stroke-dashoffset: 630.78px;
    animation: text-anime 2s ease forwards;
    -web-kit-animation: text-anime 2s ease forwards;
    -moz-animation: text-anime 2s ease forwards;
    -o-animation: text-anime 2s ease forwards;
}



#logo path:nth-child(2) {
    /* Letter E animation */
    stroke-dasharray: 419.45px;
    stroke-dashoffset: 419.45px;
    animation: text-anime 2s ease forwards 0.3s;

}

#logo path:nth-child(3) {
    /* Letter I animation */
    stroke-dasharray: 185.07px;
    stroke-dashoffset: 185.07px;
    animation: text-anime 2s ease forwards 0.6s;

}

#logo path:nth-child(4) {
    /* Letter G animation */
    stroke-dasharray: 453.67px;
    stroke-dashoffset: 453.67px;
    animation: text-anime 2s ease forwards 0.9s;

}

#logo path:nth-child(5) {
    /* Letter H animation */
    stroke-dasharray: 435.06px;
    stroke-dashoffset: 435.06px;
    animation: text-anime 2s ease forwards 1.2s;

}

#logo path:nth-child(6) {
    /* Letter T animation */
    stroke-dasharray: 289.97px;
    stroke-dashoffset: 289.97px;
    animation: text-anime 2s ease forwards 1.5s;

}

#logo path:nth-child(7) {
    /* Sign "&" animation */
    stroke-dasharray: 482.84px;
    stroke-dashoffset: 482.84px;
    animation: text-anime 2s ease forwards 1.8s;
}

#logo path:nth-child(8) {
    /* Letter H animation */
    stroke-dasharray: 435.06px;
    stroke-dashoffset: 435.06px;
    animation: text-anime 2s ease forwards 2.1s;
}


#logo path:nth-child(9) {
    /* Letter E animation */
    stroke-dasharray: 419.45px;
    stroke-dashoffset: 419.45px;
    animation: text-anime 2s ease forwards 2.4s;
}

#logo path:nth-child(10) {
    /* Letter A animation */
    stroke-dasharray: 395.49px;
    stroke-dashoffset: 395.49px;
    animation: text-anime 2s ease forwards 2.7s;
}

#logo path:nth-child(11) {
    /* Letter L animation */
    stroke-dasharray: 262.67px;
    stroke-dashoffset: 267.67px;
    animation: text-anime 2s ease forwards 3s;
}

#logo path:nth-child(12) {
    /* Letter T animation */
    stroke-dasharray: 289.97px;
    stroke-dashoffset: 289.97px;
    animation: text-anime 2s ease forwards 3s;
}

#logo path:nth-child(13) {
    /* Letter H animation */
    stroke-dasharray: 435.06px;
    stroke-dashoffset: 435.06px;
    animation: text-anime 2s ease forwards 3s;
}


/* END Weight & Health text's strokes animation */

/* Weight & Health's keyframes*/

@keyframes text-anime {
    /* Weight & Health - stroke's keyframe */
    to {
        stroke-dashoffset: 0px;
    }
}

@keyframes wh-move-top {
    /* Weight & Health - moving top's keyframe*/
    from {
        top: 35%;
    }

    to {
        top: 20%;
    }
}

@keyframes fill-anime {
    /* Weight & Health - filing's keyframe*/
    from {

        fill: transparent;
    }

    to {
        fill: white;
    }
}


@keyframes consultation {
    /* Consultation's text - opacity's keyframe */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



@keyframes diana-move-bottom {
    /* Diana's text - moving bottom's keyframe */
    from {
        opacity: 0;
        top: 40%;
    }
    to {
        opacity: 1;
        top: 65%;
    }

}


@keyframes diana-opacity {
    /* Diana's text - opacity's keyframe */
    from {
        opacity: 0;

    }
    to {
        opacity: 1;

    }
}


@keyframes btn-signUp {
    /* Sign up's keyframe */
    from {
        opacity: 0;
        bottom: -10%;
    }
    to {
        opacity: 1;
        bottom: 6%;

    }
}

/* END Weight & Health's keyframes*/

/* END Background slideshow's text */

/* ################ END SLIDESHOW SECTION ########### */

/* ################ SIGN UP MODAL ################### */

.modal-dialog {
    /* Setting height to modal box */
    height: 100%;
    
}

.modal-content {
    /* Positioning modal container in center  */
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.6);
    font-size: 1em;
    background-color: rgba(255,255,255, 0.8);
}

.modal-body {
    /* Positioning modal body content to center  */
    width: 70%;
    margin: 0px auto;
}

.modal-body input{
    /* Setting transparancy to modal form's inputs  */
    background-color: rgba(255,255,255, 0.5);
}

.modal-body textarea{
    /* Setting transparancy to modal form's textarea */
    background-color: rgba(255,255,255, 0.5);
}



.modal-header h3 {
    text-align: center;
    font-size: 1.4em;
    letter-spacing: 0.5px;
    line-height: 35px;
    font-weight: 200;
    padding: 15px 20px;

}


.btn-moddal-wrapper{/* Centering modal button */
    text-align: center;
}

/* ################ END SIGN UP MODAL ############### */

/* ######## RESPONSIVE DESIGN ######### */

/* Responsive typography scale for mobile and tablet */

@media (min-width: 376px) {
    /* Adjusting menu links size after mobile  */
    .main-menu li a {
        font-size: 1.414em;
    }

    .social-links a {
        /* Adjusting social links size on tablet and mobile */
        font-size: 1.999em;
    }
}

/* END Responsive typography scale for mobile and tablet */

@media (min-width: 576px) {
    /* Changing Sign Up's default width size */
    .modal-dialog {
        max-width: 800px;
    }
}

/* ######## END RESPONSIVE DESIGN ################### */
