@import url('https://fonts.googleapis.com/css?family=Poiret+One|Courgette|Oswald:400');

html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    backgournd-color: #f6f6f6;
    font-size: 1em;
    /* I use 1.414 (Augumental forth) ratio for font scale */
}

#wrapper {
    width: 100%;
    height: 100%;
}


.sections {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slideshow-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}


@font-face {
    font-family: Monolith;
    src: url(../fonts/monolith-regular.otf);
}






/* #################### HEADER ###################### */

header {
    height: 130px;
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    z-index: 1;
}


/*  Main Menu */

.main-menu,
.social-links a {
    /* Aligning menu links and social icons on one line */
    line-height: 120px;
}

.main-menu {
    /* Marging menu from left */
    margin-left: 2%;
}

.main-menu li {
    list-style: none;
    display: inline;
    margin-left: 25px;
}

.main-menu li a {
    font-family: "Poiret One";
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.main-menu li a:hover {
    text-decoration: none;
    color: #00dddb;
}

/* END Main Menu */

/* Social Links */

.social-links {
    /* Aligning social links to right */
    text-align: right;
}


#sl-wrapper {
    /* Marging social links from left */
    margin-right: 10%;
}

.social-links a {
    text-decoration: none;
    font-size: 1.414em;
    color: rgba(0, 0, 0, .25);
    margin: 0px 5px;
    transition: color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out;
    -moz-transition: color 0.35s ease-in-out;
    -o-transition: color 0.35s ease-in-out;

}


.social-links a:hover {
    color: rgba(0, 219, 221, 1);
}

/* END Social Links */

/* #################### END HEADER ################## */

/* * */

/* #################### SLIDESHOW SECTION ########### */

/* Slider */

.slideshow {
    background: url("../images/food-lg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    animation-name: slideshow-w;
    -webkit-animation-name: slideshow-w;
    -moz-animation-name: slideshow-w;
    -o-animation-name: slideshow-w;
    animation-duration: 20s;
    -webkit-animation-duration: 20s;
    -moz-animation-duration: 20s;
    -o-animation-duration: 20s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;


}



@keyframes slideshow-w {

    /* Animation slide transition number 1 */
    0% {
        transform: scale(1);
        background: url("../images/food-lg.jpg");
        background-attachment: fixed;

    }
    14.28%% {
        transform: scale(1.1);
        background: url("../images/yoga-lg.jpg");
        background-attachment: fixed;

    }

    /* Animation slide transition number 2 */
    28.56% {
        transform: scale(1.1);
        background: url("../images/yoga-lg.jpg");
        background-attachment: fixed;
    }
    42.84% {
        transform: scale(1);
        background: url("../images/family-lg.jpg");
        background-attachment: fixed;
    }


    /* Animation slide transition number 3 */
    57.12% {
        transform: scale(1);
        background: url("../images/family-lg.jpg");
        background-attachment: fixed;
    }
    71.4% {
        transform: scale(1.1);
        background: url("../images/food-lg.jpg");
        background-attachment: fixed;
    }

    85.68% {
        transform: scale(1.1);
        background: url("../images/food-lg.jpg");
        background-attachment: fixed;
    }
    100% {
        transform: scale(1);
        background: url("../images/food-lg.jpg");
        background-attachment: fixed;
    }

}


/* END Slider */

/* */

#logo {
    animation: fill-anime 2s ease forwards 3.6s;
}


#wh-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: move-top 1s ease forwards 4s;
}



#free-consultation-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#free-consultation-text h1 {
    font-family: Monolith;
    font-size: 3em;
    opacity: 0;
    animation: consultation 2s ease forwards 4s;
    color: #00dddb;
    text-shadow: 2px 2px 4px rgba(0,0,0, 0.3);
}


#diana{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: diana-move 2s ease forwards 4s;
}

#diana h2{
    font-family: Oswald;
    font-size: 3.5em;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    animation: diana-opacity 2s ease forwards 4s;
    text-shadow: 2px 2px 4px rgba(0,0,0, 0.3);;
    
}



#logo path:nth-child(1) {
    stroke-dasharray: 630.78px;
    stroke-dashoffset: 630.78px;
    animation: text-anime 2s ease forwards;

}



#logo path:nth-child(2) {
    stroke-dasharray: 419.45px;
    stroke-dashoffset: 419.45px;
    animation: text-anime 2s ease forwards 0.3s;

}

#logo path:nth-child(3) {
    stroke-dasharray: 185.07px;
    stroke-dashoffset: 185.07px;
    animation: text-anime 2s ease forwards 0.6s;

}

#logo path:nth-child(4) {
    stroke-dasharray: 453.67px;
    stroke-dashoffset: 453.67px;
    animation: text-anime 2s ease forwards 0.9s;

}

#logo path:nth-child(5) {
    stroke-dasharray: 435.06px;
    stroke-dashoffset: 435.06px;
    animation: text-anime 2s ease forwards 1.2s;

}



#logo path:nth-child(6) {
    stroke-dasharray: 289.97px;
    stroke-dashoffset: 289.97px;
    animation: text-anime 2s ease forwards 1.5s;

}



#logo path:nth-child(7) {
    stroke-dasharray: 482.84px;
    stroke-dashoffset: 482.84px;
    animation: text-anime 2s ease forwards 1.8s;
}

#logo path:nth-child(8) {
    stroke-dasharray: 435.06px;
    stroke-dashoffset: 435.06px;
    animation: text-anime 2s ease forwards 2.1s;
}


#logo path:nth-child(9) {
    stroke-dasharray: 419.45px;
    stroke-dashoffset: 419.45px;
    animation: text-anime 2s ease forwards 2.4s;
}

#logo path:nth-child(10) {
    stroke-dasharray: 395.49px;
    stroke-dashoffset: 395.49px;
    animation: text-anime 2s ease forwards 2.7s;
}

#logo path:nth-child(11) {
    stroke-dasharray: 262.67px;
    stroke-dashoffset: 267.67px;
    animation: text-anime 2s ease forwards 3s;
}

#logo path:nth-child(12) {
    stroke-dasharray: 289.97px;
    stroke-dashoffset: 289.97px;
    animation: text-anime 2s ease forwards 3s;
}

#logo path:nth-child(13) {
    stroke-dasharray: 435.06px;
    stroke-dashoffset: 435.06px;
    animation: text-anime 2s ease forwards 3s;
}


@keyframes diana-move{
    from{
        top:50%;
    }
    to{
        top:60%;
    }
    
}


@keyframes diana-opacity{
    from{
        opacity: 0;
        top:50%;
    }
    to{
        opacity: 1;
        top: 60%;
    }
}

@keyframes text-anime {
    to {
        stroke-dashoffset: 0px;
    }
}


@keyframes fill-anime {

    from {

        fill: transparent;
    }

    to {
        fill: white;
    }
}


@keyframes move-top {
    from {
        top: 50%;
    }

    to {
        top: 40%;
    }
}


@keyframes consultation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}







/* Quotes Animation */

/* ################ END SLIDESHOW SECTION ########### */

/* ######## RESPONSIVE DESIGN ######### */

/* Responsive typography scale for mobile and tablet */

@media (min-width: 376px) {
    /* Adjusting menu links size after mobile  */
    .main-menu li a {
        font-size: 1.414em;
    }

    .social-links a {
        /* Adjusting social links size on tablet and mobile */
        font-size: 1.999em;
    }
}

/* END Responsive typography scale for mobile and tablet */

/* ######## END RESPONSIVE DESIGN ################### */
